.technology-justify {
	text-align: justify;
}
.left-image {
	display: flex;
	justify-content: center;
}

.left-image p {
	text-align: justify;
}

.right-image {
	display: flex;
	justify-content: center;
}

.right-image p {
	text-align: justify;
}

.logo-image {
	flex-shrink: 0;
}

.top-image {
	width: 100%;
}

.top-image p {
	text-align: justify;
}

.left-image img {
	max-width: 200px;
}

.right-image img {
	max-width: 200px;
}


.top-image-small {
	display: flex;
	justify-content: center;
}

.top-image-small img {
	max-width: 200px;
}
.tech-paragraph {
	padding: 0 25px;
}

/* Code block copy button */
.copy-btn-container {
  display: flex;
  flex-direction: row-reverse;
  background: #f5f2f0;
  font-size: .8em;
  margin-top: 1em;
}

.copy-btn {
  color: #FFFFFF;
  background-color: #007bff;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.copy-btn:hover {
  background-color: #0099FF;
}
