_site
_static_site
.bundle
config_override.yml

# Eclipse artifacts
.project
.pydevproject
*.iml
.idea/
.bundle/

# NetBeans artifacts
/nbproject

# Temporary files
*~
.jekyll-metadata

# mac
.DS_Store

# VSCode artifacts
.vscode/

# IntelliJ artifacts
.idea/