    <div id="side-menu">
        {% for item in site.data.docsmenu.toc %}
        <ul>
            <li class="parent-li">
                <a href="{{item.subfolderitems[0].url}}" role="button" aria-expanded="false" aria-controls="{{item.id}}" class="doc-nav-top-link">
                    {{ item.title }}
                </a>
                <div class="collapse collapsable-parent" id="{{item.id}}">
                    <ul>
                        {% for entry in item.subfolderitems %}
                            <li class="sub-item-li">
                                {% if entry.subfolderitems == nil %}
                                <a href="{{ entry.url }}" class="doc-nav-sub-link {% if entry.url == page.url %}active{% endif %}">
                                    {{ entry.page }}
                                </a>
                                {% else %}
                                <a href="{{entry.subfolderitems[0].url}}" class="doc-nav-sub-link {% if entry.subfolderitems[0].url == page.url %}active{% endif %} dropdown-toggle">
                                    {{ entry.title }}
                                </a>
                                <div class="collapse collapsable-parent" id="{{entry.id}}">
                                    <ul>
                                        {% for subentry in entry.subfolderitems %}
                                        <li class="sub-sub-item-li">
                                            <a href="{{ subentry.url }}" class="doc-nav-sub-link {% if subentry.url == page.url %}active{% endif %}">
                                                {{ subentry.page }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
        {% endfor %}
    </div>

<script>
    $(".active").parents('.collapsable-parent').addClass("show active-menu-link");
    $(".active").parents('.parent-li').children().first().addClass("active-menu-link");
    $(".active").addClass("active-menu-link");

    $.fn.isInViewport = function() {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight();
        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();
        return elementBottom > viewportTop && elementTop < viewportBottom;
    };

    /* add make-sticky on load so the menu does not shift on first load/scroll */
    $("#side-menu").addClass("make-sticky");

    $( window ).scroll(function() {
        if($("#footer").isInViewport()) {
            if ($("#side-menu").hasClass("make-sticky")) {
                $("#side-menu").removeClass("make-sticky");
            }
            if (!$("#side-menu").hasClass("freeze-menu")) {
                $("#side-menu").addClass("freeze-menu");
                var top = $("#side-menu").offset().top;
                var docTop = $(document).scrollTop();
                $(".freeze-menu").css("top", docTop + 100);
            }
        } else {
            if (!$("#side-menu").hasClass("make-sticky")) {
                $("#side-menu").addClass("make-sticky");
            }
            if ($("#side-menu").hasClass("freeze-menu")) {
                $("#side-menu").removeClass("freeze-menu");
            }
            $("#side-menu").css("top", "100px");

        }
    });

</script>