<div class="doc-side-nav-container">
<div class="doc-side-menu-ham">
<button id="doc-side-menu-x" class="hamburger hamburger--spring" type="button">
	<span class="hamburger-box">
	  <span class="hamburger-inner"></span>
	</span>
  </button> 
</div>
<div class="doc-side-menu-inner-container">
<ul class="doc-side-nav">

	{% assign components = page.path | downcase | split: '/' %}
	{% assign section = components[1] %}
	{% assign foundSection = false %}

	{% assign docs = site.docs %}
    
	{% for d in docs %}
		{% assign components = d.path | downcase | split: '/' %}
		{% if components[1] == section %}
			{% if components[2] == 'index.md' %}
			    {% assign foundSection = true %}
                <li><a href="{{d.url}}" class="top-menu-item">{{d.title}}</a></li>
                {% if d.path == page.path %}
                    <li><div id="toc" class="toc "></div></li>
                {% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% if foundSection == true %}
	<script type="text/javascript">
        var docs = [];
        {% for d in docs %}
	        {% assign components = d.path | downcase | split: '/' %}
			{% if components[1] == section %}
				{% if d.exclude != true %}
					docs.push({path: [
					{% for comp in components %}
						{% if forloop.index > 2 %}
							"{{ comp }}",
						{% endif %}
					{% endfor %}
					{% assign order = d.order %}
					{% if d.order == nil %}
					{% assign order = 9999 %}
					{% endif %}
					{% assign url = d.url | remove: "index.html" %}
					], url: "{{url}}", title: "{{d.title}}", order: {{order}}, overview: "{{d.overview}}"});
				{% endif %}
			{% endif %}
        {% endfor %}    

        console.log(docs);
        
		genNavBarTree(docs)
	</script>
	{% endif %}
</ul>
</div>
</div>
<script>
	/*
	$(".doc-side-nav-container").hover( function() {
			$(".doc-side-nav-container").css({left: "0px"});
			$(".doc-side-menu-ham").css({paddingLeft: "200px" });
			$("#doc-side-menu-x").addClass("is-active");
		}, function() {
			if (window.innerWidth < 1200) {
				$(".doc-side-nav-container").css({left: "-250px"});
				$(".doc-side-menu-ham").css({paddingLeft: "250px" });
			$("#doc-side-menu-x").removeClass("is-active");
			}
	});
	*/

    function toggleSideMenu() {

		if ($(".doc-side-nav-container").css("left") === "0px") {
            closeSideMenu();
		} else {
            openSideMenu();
		}
    }

    function closeSideMenu(){

			$(".doc-side-nav-container").css({left: "-265px"});
			$(".doc-side-menu-ham").css({paddingLeft: "260px" });
			$("#doc-side-menu-x").removeClass("is-active");
			if (window.innerWidth < 1800){
				$(".docs-content-container").addClass("docs-padding-left-0");
			}
    }

    function openSideMenu() {

			$(".doc-side-nav-container").css({left: "0px"});
			$(".doc-side-menu-ham").css({paddingLeft: "230px" });
			$("#doc-side-menu-x").addClass("is-active");
			$(".docs-content-container").removeClass("docs-padding-left-0");
    }
	$("#doc-side-menu-x").click(function(){
        toggleSideMenu();
	});


	$(".navbar-toggler").click(function() {
		/* 
			if statement backwards because the class is not present at the time of click,
			only after the click it is added, about half a second later
		*/
		if (!$("#navbarSupportedContent").hasClass("show")) {
			if (!$(".doc-side-nav-container").hasClass("doc-side-menu-move-down")) {
				$(".doc-side-nav-container").addClass("doc-side-menu-move-down");
			}
		} else {
			$(".doc-side-nav-container").removeClass("doc-side-menu-move-down");
		}
	});

	if (window.innerWidth > 820) {
			$("#doc-side-menu-x").addClass("is-active");
	}

    function getPositions(elem) {
        var pos = elem.getBoundingClientRect();
        return pos;
    }
    
    $(document).ready(function (){

        var footer = $("#footer").get();
        var navCont = $(".doc-side-nav-container").get();
        var initialHeight = parseInt($(".doc-side-nav-container").css("height"));
        $(window).scroll(function(){

            var diff = getPositions(footer[0]).top - getPositions(navCont[0]).bottom;
            if (diff < 5) {
                /* css returns with px added. ex: '400px' */
                $(".doc-side-nav-container").css("top", "100px");
                var currentHeight = parseInt($(".doc-side-nav-container").css("height"));
                var newHeight = Math.floor(currentHeight - Math.abs(diff) );
                $(".doc-side-nav-container").css("height", newHeight);
                $(".doc-side-menu-inner-container").css("height", newHeight - 50);
            } else if (diff > 25 && diff < 100 && getPositions(navCont[0]).height < initialHeight) {

                var currentHeight = parseInt($(".doc-side-nav-container").css("height"));
                var newHeight = Math.floor(currentHeight + Math.abs(diff));
                if (newHeight > initialHeight) {
                    $(".doc-side-nav-container").css("height", initialHeight);
                    $(".doc-side-menu-inner-container").css("height", initialHeight - 50);
                    
                } else {
                    $(".doc-side-nav-container").css("height", newHeight);
                    $(".doc-side-menu-inner-container").css("height", newHeight - 50);
                }
            } 

            if (diff > 100) {
                $(".doc-side-nav-container").css("top", "200px");
                $(".doc-side-nav-container").css("height", initialHeight);
                $(".doc-side-menu-inner-container").css("height", initialHeight - 50);
            }

            /* Close side menu if open and the menu touches the footer */
            /*
            if (getPositions(footer[0]).top < getPositions(navCont[0]).bottom) {
                if ($(".doc-side-nav-container").css("left") === "0px") {
                    closeSideMenu();
                }
            }
            */
        });
    });


    
</script>
