<div class="doc-side-nav-container">
<div class="doc-side-menu-ham">
<button id="doc-side-menu-x" class="hamburger hamburger--spring" type="button">
	<span class="hamburger-box">
	  <span class="hamburger-inner"></span>
	</span>
  </button> 
</div>
<div class="doc-side-menu-inner-container">
<ul class="doc-side-nav">

	{% assign components = page.path | downcase | split: '/' %}
	{% assign section = components[1] %}
	{% assign foundSection = false %}

	{% assign docs = site.docs %}
    
	{% for d in docs %}
		{% assign components = d.path | downcase | split: '/' %}
		{% if components[1] == section %}
			{% if components[2] == 'index.md' %}
			    {% assign foundSection = true %}
                <li><a href="{{d.url}}" class="top-menu-item">{{d.title}}</a></li>
                {% if d.path == page.path %}
                    <li><div id="toc" class="toc "></div></li>
                {% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% if foundSection == true %}
	<script type="text/javascript">
        var docs = [];
        {% for d in docs %}
	        {% assign components = d.path | downcase | split: '/' %}
			{% if components[1] == section %}
				{% if d.exclude != true %}
					docs.push({path: [
					{% for comp in components %}
						{% if forloop.index > 2 %}
							"{{ comp }}",
						{% endif %}
					{% endfor %}
					{% assign order = d.order %}
					{% if d.order == nil %}
					{% assign order = 9999 %}
					{% endif %}
					{% assign url = d.url | remove: "index.html" %}
					], url: "{{url}}", title: "{{d.title}}", order: {{order}}, overview: "{{d.overview}}"});
				{% endif %}
			{% endif %}
        {% endfor %}    

        console.log(docs);
        
		genNavBarTree(docs)
	</script>
	{% endif %}
</ul>
</div>
</div>
<script>
	/*
	$(".doc-side-nav-container").hover( function() {
			$(".doc-side-nav-container").css({left: "0px"});
			$(".doc-side-menu-ham").css({paddingLeft: "200px" });
			$("#doc-side-menu-x").addClass("is-active");
		}, function() {
			if (window.innerWidth < 1200) {
				$(".doc-side-nav-container").css({left: "-250px"});
				$(".doc-side-menu-ham").css({paddingLeft: "250px" });
			$("#doc-side-menu-x").removeClass("is-active");
			}
	});
	*/

	$("#doc-side-menu-x").click(function(){
		if ($(".doc-side-nav-container").css("left") === "0px") {
			$(".doc-side-nav-container").css({left: "-265px"});
			$(".doc-side-menu-ham").css({paddingLeft: "260px" });
			$("#doc-side-menu-x").removeClass("is-active");
			if (window.innerWidth < 1800){
				$(".docs-content-container").addClass("docs-padding-left-0");
			}
		} else {
			$(".doc-side-nav-container").css({left: "0px"});
			$(".doc-side-menu-ham").css({paddingLeft: "230px" });
			$("#doc-side-menu-x").addClass("is-active");
			$(".docs-content-container").removeClass("docs-padding-left-0");

		}
	});


	$(".navbar-toggler").click(function() {
		/* 
			if statement backwards because the class is not present at the time of click,
			only after the click it is added, about half a second later
		*/
		if (!$("#navbarSupportedContent").hasClass("show")) {
			if (!$(".doc-side-nav-container").hasClass("doc-side-menu-move-down")) {
				$(".doc-side-nav-container").addClass("doc-side-menu-move-down");
			}
		} else {
			$(".doc-side-nav-container").removeClass("doc-side-menu-move-down");
		}
	});

	if (window.innerWidth > 820) {
			$("#doc-side-menu-x").addClass("is-active");
	}
</script>
