
    <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 center-block">
            <a class="btn btn-slate btn-edit-on-github pull-right" href="https://github.com/slateci/slateci.github.io/edit/master/{{page.path}}">Edit This Page on GitHub</a>
          </div>
        </div>
    </div>
<footer id="footer">
    <div class="container">
	<div class="row">
		<div class="center-block" style="margin: 10px auto; width: 75px;">
		      <a href="https://www.nsf.gov/">
			<img src="/img/NSF_Logo.png" width="75px"></img>
		      </a>
		</div>
	</div>

        <div class="row">
	  <p class="text-center">This material is based upon work supported by the National Science Foundation under Grant No. 1724821.<br>Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>
	  
          <p class="text-center w-100 my-3">
            Copyright &copy; 2017-2019 SLATE CI<br>
            This site was built on {{ site.time | date: "%Y/%m/%d %H:%M" }}.
          </p>
        </div>
    </div>
</footer>
