
    <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 center-block">
            <a class="btn btn-slate btn-edit-on-github pull-right" href="https://github.com/slateci/slateci.github.io/edit/master/{{page.path}}">Edit This Page on GitHub</a>
          </div>
        </div>
    </div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3 col-sm-4 col-xs-12 center-block">
                <ul class="toggle">
                    <p class="header">Docs</p>
                    <li><a href="{{home}}/docs/">Welcome</a></li>
                    <li><a href="{{home}}/docs/concepts">Concepts</a></li>
                    <li><a href="{{home}}/docs/reference">Reference</a></li>
                </ul>
            </div>

            <hr class="footer-sections" />

            <div class="col-md-3 col-sm-4 col-xs-12 center-block">
                <ul class="toggle">
                    <p class="header">Resources</p>
                    <li><a href="{{home}}/faq">Frequently Asked Questions</a></li>
                    <li><a href="{{home}}/bugs">Report a Bug</a></li>
                    <li><a href="https://github.com/slateci/slateci.github.io/edit/master/{{page.path}}">Edit This Page on GitHub</a></li>
                </ul>
            </div>

            <hr class="footer-sections" />

            <div class="col-md-3 col-sm-4 col-xs-12 center-block">
                <ul class="toggle">
                    <p class="header">Community</p>
                    <li><a href="https://groups.google.com/forum/#!forum/slateci-news" target="_blank"><span class="group">News</span></a> | <a href="https://groups.google.com/forum/#!forum/slateci-discuss" target="_blank">User</a> | <a href="https://groups.google.com/forum/#!forum/slateci" target="_blank">Dev</a></li>
                    <li><a href="https://twitter.com/slateci" target="_blank"><span class="twitter">Twitter</span></a></li>
                    <li><a href="https://github.com/slateci" target="_blank"><span class="github">GitHub</span></a></li>
                </ul>
            </div>

            <div class="col-md-1"></div>
        </div>

        <div class="row">
	  <p class="description large text-center">This material is based upon work supported by the National Science Foundation under Grant No. 1724821.<br>Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>
          <p class="description small text-center">
            SLATE Version {{site.data.slate.version}}, Copyright &copy; 2017 SLATE<br>
            This site was built on {{ site.time | date: "%Y/%m/%d %H:%M" }}.
          </p>
        </div>
    </div>
</footer>
