<nav class="navbar navbar-expand-lg navbar-light bg-light nav-in-front">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> Docs
    </button>
  
    <div class="collapse navbar-collapse" id="mobileNavbar">
      <ul class="navbar-nav mr-auto">

        {% for item in site.data.docsmenu.toc %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{item.title}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for entry in item.subfolderitems %}
            <a class="dropdown-item" href="{{entry.url}}">{{entry.page}}</a>
            {% endfor %}
          </div>
        </li>
        {% endfor %}

      </ul>
    </div>
  </nav>