{% assign current = page.url | downcase | split: '/' %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142323849-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142323849-1');
</script>

{% if page.url == "/true-index.html" or page.url == "/index.html" or page.url == "/" %}
<style type="text/css">
  /* hides the logo in the topleft on the landing page */
  .navbar-header .navbar-brand{
    display:none !important;
  }
</style>
{% endif %}
<style>
.dashboard-button {

	padding: 10px !important;
	margin-top: 5px !important;
}
.dashboard-button:hover {

	background: white !important;
	color: #296aca !important ;
	text-decoration: none !important ;
}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="img/slate-logo-medium.png" width="180" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="{{home}}/about/">About</a>
      </li>
      <li class="nav-item">
        <a href="{{home}}/technology/">Technology</a>
      </li>
      <li class="nav-item">
        <a href="{{home}}/docs/quickstart">Docs</a>
      </li>
      <li class="nav-item">
        <a href="{{home}}/blog/">Blog</a>
      </li>
      <li class="nav-item">
        <a href="{{home}}/community/">Community</a>
      </li>
      <li class="nav-item" style="padding-left: 25px;">
        <a class="btn dashboard-button" href="https://portal.slateci.io/" style="background-color: none; border: 1px solid white; color: white;" role="button"><b>Dashboard</b></a>
      </li>
    </ul>
  </div>
</nav>

<!--
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            </ul>
          </div>
        -->
