{% assign current = page.url | downcase | split: '/' %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142323849-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142323849-1');
</script>

{% if page.url == "/true-index.html" or page.url == "/index.html" or page.url == "/" %}
<style type="text/css">
  /* hides the logo in the topleft on the landing page */
  .navbar-header .navbar-brand{
    display:none !important;
  }
</style>
{% endif %}
<style>
.dashboard-button {

	padding: 10px !important;
	margin-top: 5px !important;
}
.dashboard-button:hover {

	background: white !important;
	color: #296aca !important ;
	text-decoration: none !important ;
}
</style>

<nav id="header-nav" class="navbar navbar-inverse" role="navigation">
  <div class="container">
      <div class="row">
        <div class="col-md-11 nofloat center-block ">

          <div class="navbar-header">
            <button type="button" class="hamburger navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{home}}/">
              <div>
                <img src="{{home}}/img/slate-logo-medium.png" alt="SLATE"/>
              </div>
            </a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{home}}/about/" {% if current[1] == 'about' %}class='current'{% endif %}>About</a></li>
              <li><a href="{{home}}/technology/" {% if current[1] == 'technology' %}class='current'{% endif %}>Technology</a></li>
              <li><a href="{{home}}/docs/quickstart" {% if current[1] == 'docs' %}class='current'{% endif %}>Docs</a></li>
              <li><a href="{{home}}/blog/" {% if current[1] == 'blog' %}class='current'{% endif %}>Blog</a></li>
              <li><a href="{{home}}/community/" {% if current[1] == 'community' %}class='current'{% endif %}>Community</a></li>
              <li style="padding-left: 25px;"><a class="btn dashboard-button" href="https://portal.slateci.io/" style="background-color: none; border: 1px solid white; color: white;" role="button"><b>Dashboard</b></a></li>
	      
              <!-- <li>{% include search-box.html %}</li> -->
            </ul>
          </div>

        </div>
      </div>
  </div>
</nav>
