{% assign current = page.url | downcase | split: '/' %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142323849-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142323849-1');
</script>

{% if page.url == "/true-index.html" or page.url == "/index.html" or page.url == "/" %}
<style type="text/css">
  /* hides the logo in the topleft on the landing page */
  /*
  .navbar-brand{
    display:none !important;
  }
  */
</style>
{% endif %}
<style>
.dashboard-button {
	
	border-radius: 3px;
	background: white!important;
	color: #2e69c3 !important ;
	text-decoration: none !important ;
}
.dashboard-button:hover {

	background: #2e69c3 !important;
	color: white !important ;
	text-decoration: none !important ;
}
</style>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #2e69c3;">
	<div class="container-fluid" style="max-width: 1500px;">
		  <a class="navbar-brand" href="/">
		    <img src="/img/slate-logo-medium.png" alt="SLATE">
		  </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <div class="navbar-nav ml-auto">
				<a class="nav-item nav-link text-white" href="/">Home</span></a>
				<a class="nav-item nav-link text-white" href="{{home}}/about/">About</a>
				<a class="nav-item nav-link text-white" href="{{home}}/technology/">Technology</a>
				<a class="nav-item nav-link text-white" href="{{home}}/docs/quickstart">Docs</a>
				<a class="nav-item nav-link text-white" href="{{home}}/blog/">Blog</a>
				<a class="nav-item nav-link text-white" href="{{home}}/community/">Community</a>
				<a class="nav-item nav-link dashboard-button" href="https://portal.slateci.io/" style="background-color: none; border: 1px solid white; color: #2e69c3;" role="button"><b>Console</b></a>
			  </div>
		  </div>
	</div>
</nav>

<!--
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            </ul>
          </div>
        -->
