#side-menu {
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding-right: 15px;
  padding-bottom: 10px;
  width: 250px;
  @media (min-width: 0) and (max-width: 991px) {
	  visibility: hidden;
	background: white;
	width: 100%;
	height: 100vh;
	z-index: 2000;
	li {
		border-bottom: 1px solid lightgray;
		padding: 3px;
	}

  }

}

.show-on-mobile-only {
	visibility: visible;
	@media (min-width: 991px) {
		visibility: hidden;
	}	
}

.nav-in-front {
	z-index: 100;
	width: 100%;	
	position: fixed;
}

#side-menu-bar-mobile {
	position: fixed;
	top: 75px;
	height: 40px;
	background: #aaa;
	width: 100%;
	z-index: 1000;
	padding: 5px;
	font-size: 1.25em;
}

/* https://stackoverflow.com/questions/46102630/bootstrap-4-layout-with-one-width-fixed-column */
/* ---- */
.doc-menu-fixed-width {
	flex: 0 0 250px;
}

.doc-menu-fixed-width-right {
	flex: 0 0 10%;
}
/* ---- */

.docs-page-height {
	min-height: 750px;
}
.make-sticky {
  position: fixed;
  top: 100px;
  left: 10px; 
  @media (min-width: 0) and (max-width: 991px) {
	position: absolute;
  }
}

.freeze-menu {
	position: absolute;
  	top: 0;
	left: 10px;
}

.active-menu-link {
  color: blue !important;
}

// Bootstrap override - looks like this is missing?
.nav-tabs>li.active>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
	border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
    background: #4686CD;
    color: white;
}

.doc-nav-top-link {

    color: black;
	font-size: 1em;
	line-height: 2;
}

.doc-nav-sub-link {
	color: #333;
	font-weight: 300;
	font-size: .85em;
	line-height: 1.25;
}

.sub-item-li {
	padding: 0 0 7px 10px;
}

.sub-sub-item-li {
	padding: 3px 0 0 10px;
}

// Documentation Navigation Bar
.doc-nav {
  display: block;
  margin-bottom: $spacing--xxxl;
  margin-top: $spacing--m;
	.doc-caret {
		margin-right: 10px;
		@media (min-width: $tablet) {
			display: none;
		}
	}


	.tab {
		display: inline-block;

		&.docs-tab a {
            border-bottom: 2px solid $gray;
            display: inline-block;
            font-weight: 300;

			@media (min-width: $tablet) {
				display: none;
			}
		}

		a {
            border-bottom: 2px solid transparent;
            color: $gray;
            display: none;
            font-size: .85rem;
            font-weight: 400;
            letter-spacing: 0.5px;
            margin-right: 16px;

			&:hover {
				border-bottom: 2px solid $gray;
			}

			@media (min-width: $tablet) {
                display: inline-block;
                font-weight: 300;
			}
		}

		.current {
            border-bottom: 2px solid $gray;
            color: $gray;
            display: inline-block;

			@media (min-width: $tablet) {
				border-bottom: 2px solid $secondBrandColor !important;
				color: $secondBrandColor;
			}
		}
	}
}

.doc-side-nav .toc {

    li {
        list-style: '- ' !important;
        margin: 0;
        padding: 0;
    }
}
// Documentation Side Navigation
.doc-side-nav-container {
	max-height: 70vh;
	position: fixed;
	width: 270px;	
	top: 200px;
	z-index: 10000;
	background: white;
	padding-left: 10px;
	border-right: 1px solid #ccc;
	border-top: 3px solid #466BB0;
	border-bottom: 3px solid #466BB0;
	
	left: -265px;
	transition: left .3s ease, top .3s ease, height .1s ease;
	border-radius: 0 4px 4px 0;

	@media (min-width: 820px) {
		left: 0;
	}
}

.doc-side-menu-move-down {
	top: 320px !important;
}

.doc-side-menu-inner-container {
	height: 60vh;
	overflow-y: auto;
	padding-right: 10px;
	max-height: 95%;
    transition: height .1s ease;
}

.doc-side-menu-ham {
	transition: padding-left .3s ease;
	padding-left: 260px;
	z-index: -1;
	@media (min-width: 820px) {
		padding-left: 230px;
	}
}

.doc-side-nav {
	margin-bottom: 20px;

	
    @media (min-width: $tablet) {
        margin-bottom: 0;
        padding: $spacing--xs 0 $spacing--xl;
    }

	.current {
  		color: $popBrandColor;
 		font-weight: bold;
  	}

  	.doc-side-nav-title {
		padding: $spacing--s;
		font-weight: bold;
	}

	.doc-side-nav-list-item {
		display: inline-block;
		padding: 2px $spacing--s;
		width: 100%;
	}

    a {
        font-weight: normal;
    }
}

.tree li {
    padding-left: 10px;
}

.tree-toggle {
    cursor: pointer;
    margin-left: -1em;

	.tree-toggle-link{
		&, &:focus, &:hover{
			color:#535f61 !important;
			text-decoration: none;
		}
	}
}

