a.page-anchor {
    display: block;
    position: relative;
    top: 100px;
    visibility: hidden;
}

div.toc {
  padding: 0; 
  margin-left: 10px;
  height: auto;
}

#toc {
  ul {
    margin: 0; 

    ul {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 0px;
    }
  }
}

.toc {
  padding: 4px;

  ul {
    list-style-type: '- ' !important;
    font-size: 1em;
    padding-left: 4px;
    margin: 3px;
    
    
    li {
      margin-bottom: 3px;
    }

    ul {
        padding-left: 10px;

        li {

          margin-bottom: 3px;
        }
    }

    a {
        color: #666; 
        font-weight: normal;
	&:hover {
	    color: #9cb0d4;

	}
    }
  }
}


#doc-content{
  z-index: 99;
  position:relative;
  padding-top: 25px;
}


.clickable-header {
  cursor: pointer;
}
