div.toc {
  padding: 0px;
}

#toc {
  ul {
    margin: 10px;

    ul {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 0px;
    }
  }
}

.toc {
  /* background-color: $light-gray; */
  border-radius: 6px;
  padding: 30px;
  /* margin-top: 15px; top:125px; position: fixed; */

  ul {
    list-style-type: none !important;
    font-size: 90%;

    ul {
        font-size: 90%;
        padding-left: 10px;
    }

    a {
        color: #466BB0;
        font-weight: normal;
	&:hover {
	    color: #9cb0d4;

	}
    }
  }
}

.toc.mobile-toc {
  display: none !important;

  @media (max-width: 768px) {
    margin-top: 30px;
    display: block !important;
    border-left: 4px solid $light-gray;
  }
}

#doc-content{
  z-index:1000;
  position:relative;
}


.clickable-header {
  cursor: pointer;
}
