.docs-content-container {
  transition: padding-left 0.3s ease;
  @media (max-width: 820px) {
    padding-left: 50px;
  }
  @media (min-width: 821px) {
    padding-left: 280px;
  }
  @media (min-width: 1340px) {
    padding-left: 220px;
  }
  @media (min-width: 1460px) {
    padding-left: 150px;
  }
  @media (min-width: 1596px) {
    padding-left: 80px;
  }
  @media(min-width: 1597px) {
    padding-left: 80px;
  }
  @media(min-width: 1663px) {
    padding-left: 60px;
  }
  @media(min-width: 1800px) {
    padding-left: 0;
  }
}

.docs-padding-left-0 {
  padding-left: 50px !important;
}
.docs-container {
  max-width: 1200px;
  margin: 0 auto;
}
.docs {

  min-height: 80vh;
  z-index: -1;

  .thin-left-border {
    border-left: 1px solid rgba(0, 0, 0, .15);
  }

  .tab-neg-margin {
    margin-left: -15px;
  }

  #sidebar-tab {
    border: 1px solid rgba(0,0,0,0.10);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgba(0,0,0,0.05);
    padding: 10px 5px 10px 5px;
    margin-top: -2px;
    margin-right: 10px;
    font-size: 1rem;
    color: $black;

    &, &:focus, &:hover, &:active{
      color:black !important;
      text-decoration: none !important;
    }
  }

  #tab-container{
    z-index: 1000;
  }

  #sidebar-container {
    float: left;
    padding:0px;
    background-color: #fff;
  }

  @media (max-width: 768px) {
    #content-container{
      clear:both;
    }
  }
}
