.post {
  .post-wrapper {
    padding-top: $spacing--xxxl;
  }

  .content p {
    line-height: 1.5; 
    margin-bottom: .5em;
    margin-top: .5em;
  }

  .content img {

      width: 100%;
  }

  .content
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin: 10px 0;

  }

  .content h2 {
      margin: 1em 0;
  }

  .content-attribution {
    color: $dark-gray;
    font-size: 15px;
    font-style: italic;
    margin: $spacing--xxxl 0 $spacing--xl;
  }

  .postdate {
    margin: 0 0 25px 0;
    text-decoration: underline;
  }
}
