---
layout: default
---
{% include home.html %}
{% include doc-top-nav.html %}

<script src="/js/navtree.js"></script> 
</script>
<div class="container-fluid docs">
	<div class="mx-auto" style="max-width: 2000px;">
		<div class="row">
			<div class="col-2">
				<div id="slate-menu">
					{% include doc-side-nav.html %}
				</div>
			</div>
			<div id="content-container" class=" col-10 col-xl-8 {{ page.type }}" >
				<div id="doc-content" style="" class="mx-auto px-md-5 px-1">
					<h1>{{page.title}}</h1>
					{{ content }}
				</div>
			</div>
			<div class="col-0 col-xl-2"></div>
		</div>
	</div>
</div>
<!-- <script src="/js/sidemenu.js"></script> -->
<script>
/*https://stackoverflow.com/questions/11365091/jquery-scroll-to-anchor-minus-set-amount-of-pixels */
$(function() {
  $('a').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top-85
        }, 100);
        return false;
      }
    }
  });
});
</script>
