---
layout: default
---
{% include home.html %}

<div class="container">
  <div class="row">
    <div class="col-lg post">
      <article class="post-wrapper markdown">
        <h1>{{ page.title }}</h1>
        <div class="postdate">
          Posted on {{ page.date | date: "%A, %B %d %Y" }}.
        </div>
        <div class="content">
          {{ content }}
        </div>

        {% if page.attribution %}
        <div class="content-attribution">
           {{ page.attribution }}
        </div>
        {% endif %}
      </article>
    </div>
  </div>
</div>

<script src="/js/clipboard.min.js"></script>
<script src="/js/copy.js"></script>
